:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  .signupform{
  display: flex;
  flex-direction: column;
 
  padding: 20px;

  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  
    &:focus {
      outline: none;
      border-color: blue;
    }
  }
  
  button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: green;
    }
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  