
<div class="bnx-copyright">


    <div class="copyright">
        <div class="copyright__first">
            <p>Privacy Policy </p><svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewBox="0 0 2 14" fill="none">
                <path opacity="0.6" d="M1 0V14" stroke="white"/>
              </svg>
            <p>Terms of Use</p><svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewBox="0 0 2 14" fill="none">
                <path opacity="0.6" d="M1 0V14" stroke="white"/>
              </svg>
            <p>Cookie Policy</p>
    
        </div>
       
    
       <img class="copyright__img" src="../../../../assets/images/Group 220.svg" alt="">
       
    
       <p class="copyright__p">Copyright © 2023 - 24 Fast Track@Naveen Sajan</p>
    
    </div>
    </div>
    
    
