 <!--footerservices-->
 <div class="footer">
    <div class="footer__row row">
        <div class="footer__col col-md-2">
            <ul>
                <img class="footer__img" src="" alt="">
                <p class="footer__p">About Us</p>
                <p class="footer__p">Careers</p>
                <p class="footer__p">Press Releases</p>
                <p class="footer__p">Fast Track Science</p>
                
            </ul>
            
        </div>
        
        <div class=" footer__col col-md-2">
            <ul style="list-style:none">    
                <h4 class="footer__indus">Connect with Us</h4>
                <p class="footer__p">Facebook​</p>
                <p class="footer__p">Twitter</p>
                <p class="footer__p">Telegram</p>
                <p class="footer__p">Instagram</p>
               
            </ul>
        </div>
        
        <div class=" footer__col  col-md-2">
            
            <p class="footer__p">Make Money with Us</p>
            <p class="footer__p">Sell on Fast Track</p>
            <p class="footer__p">Sell under  Accelerator</p>
            <p class="footer__p">Become an Affiliate</p>
            <p class="footer__p">Advertise Your Products</p>
            <p class="footer__p">Fast Track Global</p>
        </div>

        <div class="footer__col  col-md-2">
            <ul style="list-style:none">
                <h4 class="footer__indus">Consumer Policy</h4>
                <p class="footer__p">Returns</p>
                <p class="footer__p">Terms Of Use</p>
                <p class="footer__p">Privacy</p>
                <p class="footer__p">EPR Compliance</p>
            </ul>
        </div>
        
        <div class=" footer__col col-md-2" >
            <h4 class="footer__indus">Let Us Help You</h4>
            <p class="footer__p">Your Account</p>
            <p class="footer__p">Returns Centre</p>
            <p class="footer__p">100% Purchase Protection</p>
            <p class="footer__p">Careers</p>
        </div>
       

        <div class=" footer__col col-md-2">
            <p class="footer__p">Contact Us</p>
            <p class="footer__p">Payment</p>
            <p class="footer__p">Shipping</p>
            <p class="footer__p">Cancelation & Returns</p>
        </div>
    </div>
</div>




