
// .custom-form-control {
//     border-radius: 3px;
//     width: 500px;
// }

// .search-icon {
//     position: absolute;
//     z-index: 10;
//     right: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//     color: black;
// }

// .cart {
//     padding-right: 30px;
// }
.navbar{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
   
}
// .profilebutton{
// padding-left: 32rem;
// }